body {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}

h2,
h3 {
    margin: 0;
    padding: 0;
}

.background-image {
    position: absolute;
    width: 60%;
    height: 100%;
    z-index:-2;
}

 .opacity-background {
    position: absolute;
    background-color: black;
    z-index: -1;
    width: 60%;
    height: 100%;
    opacity: 0.3;
 }

.content-container {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
}

.marijuana-logo {
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
    margin-left: -32px;
}

.logo {
    width: 20%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
/*     opacity: 0.80; */
    background-color: rgba(1, 58, 18, 0.8);
/*     background-color: #013a12; */
    color: white;
    font-size: 3.0rem;
    font-weight: bold;
    position: relative;
    top: 25%;
}


.signup-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    z-index: 1;
    background-color: white; 
    opacity: 1;
}

.signup-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro-1 {
    margin-top: 10%;
    padding: 0 32px;
    text-align: center;
}

.intro-2 {
    padding: 32px 32px 0 32px;
    text-align: center;
}

.intro-3 {
    padding: 32px 32px 0 32px;
    text-align: center;
    margin-bottom: 5%;
}

.intro-3>em {
    color: #013a12;
}

.form-container {
    background-color: rgb(231, 231, 231);
    border: none;
    box-shadow: 0 0 4px #013a12;
    padding: 16px 32px;
    margin: 0;
}

.form-container>h2 {
    padding-bottom: 16px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
}

.input-container div {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 16px 32px 16px 0;
}

.input-container label {
    width: 100%;
    color: #013a12;
    font-size: 0.9rem;
    padding-bottom: 4px;
}

.input-container input {
    width: 80%;
    height: 32px;
}

.submit-form {
    border: none;
    margin: 0;
    padding: 32px;
}

button[type="submit"] {
    background-color: #03c03c;
    color: white;
    padding: 8px 32px;
    margin-bottom: 16px;
    font-weight: bold;
/*     border: none;
 */    box-shadow: 2px 2px 2px lightgray; 
    border-radius: 12px;
}

/* button:hover {
    background-color: #0ba339
    border-top: 2px solid #0ba339;
    border-left: 2px solid #0ba339;
}

button:action {
    border-top: 2px solid #0ba339;
    border-left: 2px solid #0ba339;
} */

input {
    outline: none;
}

input:hover {
    background-color: rgba(223,249,245,1);
}

input[type="password"]:invalid {
    border: 2px solid red;
    box-shadow: 0 0 2px darkred;
}

input[type="password"]:invalid:hover {
    background-color: rgb(252, 236, 236);
}

/* input[type="password"]:invalid + span>.pwdimg {
    width: 30px;
    height: 30px;
} */

input[type="password"]:invalid + span::after {
    content: "😈 currently ironing out the JS 😈";
    color: darkred;
    font-size: 12px;
    font-style: italic;
}

input:focus {
    border: 2px solid #3299b3;
    border-radius: 4px;
}

input[type="email"]:valid, 
input[type="tel"]:valid {
    border: 2px solid green;
    box-shadow: 0 0 4px green;
}